<!doctype html>
<html>

<head>
  <title>WEAWWO</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="icon" href="weawwo.ico">
  <script>
    var reloading;

    function checkReloading() {
      if (window.location.hash == "#autoreload") {
        reloading = setTimeout("window.location.reload();", 5000);
        document.getElementById("reloadCB").checked = true;
      }
    }

    function toggleAutoRefresh(cb) {
      if (cb.checked) {
        window.location.replace("#autoreload");
        reloading = setTimeout("window.location.reload();", 5000);
      } else {
        window.location.replace("#");
        clearTimeout(reloading);
      }
    }

    function sort(element) {
      var url = new URL(window.location)
      url.searchParams.set("sort", element.id)
      url.searchParams.set("desc", element.classList.contains("fa-chevron-up"))
      window.location.replace(url)
    }

    window.onload = checkReloading;
  </script>
  <script src="https://kit.fontawesome.com/dacdf7760f.js" crossorigin="anonymous"></script>
</head>

<body>
  <% if !signed_in %>
  <div class="login">
    You have to <a class="btn btn-primary"
      href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>">Sign In with GitHub</a>
    <br />
    You must publicly be part of the <%= org %> org.
  </div>
  <% else %>
  <div class="report">
    In Progress: <span class="flag-report progress"><%= issues.select{|i| i[:status] == "progress" }.length %></span>
    |
    Open: <span class="flag-report open"><%= issues.select{|i| i[:status] == "open" }.length %></span>
    |
    Total: <span><%= issues.length %></span>
  </div>

  <div class="item-box">

    <div class="item">
      <div class="sort">
        <span id="sort-status" class="fas <%= sort_by == :status ? (sort_desc ? 'fa-chevron-down' : 'fa-chevron-up') : 'fa-minus' %>" onclick="sort(this)"></span>
      </div>
      <div class="sort">
        <span id="sort-source" class="fas <%= sort_by == :source ? (sort_desc ? 'fa-chevron-down' : 'fa-chevron-up') : 'fa-minus' %>" onclick="sort(this)"></span>
      </div>
      <div class="sort title">
        <span id="sort-title" class="fas <%= sort_by == :title ? (sort_desc ? 'fa-chevron-down' : 'fa-chevron-up') : 'fa-minus' %>" onclick="sort(this)"></span>
      </div>
      <div class="sort assignee">
        <span id="sort-assignee" class="fas <%= sort_by == :assignee ? (sort_desc ? 'fa-chevron-down' : 'fa-chevron-up') : 'fa-minus' %>" onclick="sort(this)"></span>
      </div>
    </div>

    <% issues.each do |item| %>
    <div class="item">
      <div class="flag-status <%= item[:status] %>"></div>
      <div class="flag-status">
        <% if item[:source] == "github" %>
        <img src="github.png" />
        <% elsif item[:source] == "jira" %>
        <img src="jira.png" />
        <% elsif item[:source] == "tracker" %>
        <img src="tracker.png" />
        <% else %>
        <% end %>
      </div>
      <div class="summary">
        <a target="_blank" rel="noopener noreferrer" href="<%= item[:link] %>">
          <%= item[:title] %>
        </a>
      </div>
      <div class="author">
        <%= item[:assignee] %>
      </div>
    </div>
    <% end %>
  </div>

  <label class="container">Auto Refresh
    <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB">
    <span class="checkmark"></span>
  </label>

  <% end %>

  <div class="attribution">
    Icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</body>

</html>